{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<!-- Logout Box -->
<div class="row">
  <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 container-md main-box d-flex flex-column">
      <h2 class="text-center my-4"><i class="fa-solid fa-user-xmark d-flex justify-content-center"></i> {% trans "Logout" %}</h2>
      <div>
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <div class="d-flex justify-content-center my-4">
            <button type="submit" class="cst-bg-green mx-auto py-2 align-middle">{% trans 'Logout' %} <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
          </div>
        </form> 
      </div>
  </div>
</div>

{% endblock %}
