{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<!-- Reset Box -->
<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 container-md main-box">
        <h2>{% trans "Password Reset" %}</h2>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="cst-bg-green my-2" type="submit" value="{% trans 'Reset My Password' %}">
        </form>

        <p>Please <a href="{% url 'contact' %}">contact us</a> if you have any problems resetting your password.</p>
        <a href="{{ login_url }}" class="my-auto">
          <div class="secondaryAction cst-bg-green btn border border-dark">
            <p class="pt-3">
              Return to Login <i class="fa-solid fa-rotate-left"></i>
            </p>
          </div>
        </a>
    </div>
</div>

{% endblock %}
