{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 container-md main-box">
        <h2>{% trans "Change Password" %}</h2>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action" class="cst-bg-green">{% trans "Change Password" %}</button>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
        <!-- Home -->
        <div class="my-3">
            <a href="{% url 'home' %}" class="text-decoration-none">
                <p class="cst-bg-green py-1 w-50 container border border-dark text-center">
                    Home <i class="fa-solid fa-house"></i>
                </p>
            </a>
        </div>
    </div>
</div>
{% endblock %}
