{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<!-- Register Box -->
<div class="row">
  <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 container-md main-box">
      <h2 class="text-center my-4"><i class="fa-solid fa-user-plus"></i> {% trans "Register" %}</h2>
      <div class="my-4">  
        <form class="signup offset-md-3" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="cst-bg-green">{% trans "Register" %} &raquo;</button>
        </form>
        <div class="mt-4 mx-5">
          <a href="{{ login_url }}" class="my-auto" id="registered">
          {% blocktrans %}
            <div class="mt-1 secondaryAction cst-bg-green container border border-dark">
              <p class="text-center my-1">
                Already have an account? Then please Login <i class="fa-solid fa-user-large"></i>
              </p>
            </div>
          {% endblocktrans %}
          </a> 
        </div>
      </div>
  </div>
</div>

{% endblock %}
