/* background img taken from https://css-tricks.com/snippets/css/transparent-background-images/ */

body::before {
    content: "";
    background: url('../images/background.jpg');
    background-repeat: repeat;
    background-size: contain;
    height: 100vh;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}