@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=PT+Serif&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    color: #000000;
}

/* Background img taken from https://css-tricks.com/snippets/css/transparent-background-images/ */

body::before {
    content: "";
    background: url("https://res.cloudinary.com/dwczzqdrv/image/upload/v1683188219/static/images/background.3090b08829fb.jpg");
    background-size: contain;
    height: 100vh;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

/* Colors */

.cst-bg-green {
    background-color: #55D54E;
}

.cst-bg-yellow {
    background-color: #CCC731;
}

/* h1 & h2 font */

h1, h2 {
    font-family: 'PT Serif', serif;
}

/* Navigation bar */

.nav-item {
    font-family: 'PT Serif', serif;
}

.navbar,
.footer {
    background-color: #7ec63f;
}

.nav-link {
    color: #000000;
}

/* Main box */

.main-box {
    margin-top: 15vh;
    margin-bottom: 15vh;
    background-color: #7ec63f;
    border: solid #000000;
    padding: 0.5% 3%;
}

/* Forms inputs background color */

#id_login,
#id_password,
#id_username,
#id_email,
#id_password1,
#id_password2,
#id_name,
#id_storage_name,
#id_temp,
#id_message,
#id_oldpassword {
    background-color: #C8D363;
}

/* Placeholder color from: https://www.w3schools.com/howto/howto_css_placeholder.asp */

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}

#not-registered,
#registered {
    text-decoration: none;
}

/* Stocklist */

#stocklist-name {
    background-color: #C8D363;
    border: solid #000000;
}

.list-icon {
    margin-top: 1.5vh;
    margin-right: 5px;
    float: right;
    font-size: 40%;
}

.storage-spaces-btn {
    min-width: 250px;
    width: 20vw;
    list-style: none;
    padding: 5px;
}

/* Storagespaces List */

#storagespaces-list {
    list-style-type: none;
}

.storage-name {
    margin-left: 7vw;
}

/* Stock items */

#storage-name {
    background-color: #C8D363;
    border: solid #000000;
}

#storage-icons {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 60%;
}

/* Items table */

#items-table {
    border: solid #000000;
    background-color: #CAF3C8;
}

#items-table th {
    padding: 2vh 3vw;
    border: solid #000000;
}

.row_highlight {
    background-color: #C3CFB2;
}

/* Footer external platforms icons with links */

#platforms li {
    list-style-type: none;
}

a {
    color: #000000;
}

/* 403, 404 & 500 */

.err-msg {
    color: #FFFFFF;
    background-color: #9B0000;
}

/* Media queries */

@media screen and (max-width: 576px) {

    textarea {
        max-width: 95%;
    }

    #platforms,
    #contact-icon {
        margin: 0;
        padding: 0;
    }

    .main-box {
        margin-top: 10vh;
        padding: 1px;
        width: 90%;
    }
}

@media screen and (max-width: 350px) {

    h1 {
        font-size: 80%;
    }

    .navbar-toggler {
        font-size: 60%;
    }

    .storage-spaces-btn {
        min-width: 100px;
        width: 90%;
    }

    #items-table th,
    #items-table {
        border: none;
        height: auto;
        padding: 5px;
    }

    .storage-info {
        font-size: 60%;
    }
}

@media screen and (max-width: 260px) {

    input {
        max-width: 95%;
    }
}