{% extends "base.html" %}
{% load static %}
{% load tz %}
{% block content %}

<!-- Items Box -->
<div class="row">
    <!-- Items List -->
    <div class="col-lg-10 col-sm-11 container-md main-box">
        <h2 id="storage-name" class="text-center my-5 py-4 text-break">{{ storage_space.storage_name }} 
            <span id="storage-icons">
                <a href="{% url 'edit_storage' storage_space.slug %}" aria-label="Link to edit storagespace"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="{% url 'delete_storage' storage_space.slug %}" aria-label="Link to delete storagespace"><i class="fa-regular fa-trash-can"></i></a>
            </span>
        </h2>
        <div class="row">
            <div class="col-5 text-center">
                <p class="ps-2 storage-info">Temp.: {{ storage_space.temp }} °C</p>
            </div>
            <div class="col-7 text-center">
                <p class="text-break storage-info">Last updated: {{ storage_space.storage_updated_on }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-4">
                <!-- Items table -->
                <table id="items-table" class="mx-auto">
                    <tr class="cst-bg-yellow" style="max-width:95%;">
                        <th class="text-center">Pieces</th>
                        <th class="text-center">Unit</th>
                        <th class="text-center">Product</th>
                        <th class="text-center px-1">Expiry Date</th>
                        <th class="text-center px-1">Temp. range°C</th>
                        <th class="text-center">Remarks</th>
                        <th class="px-1 text-center" aria-label="Settings column"><i class="fa-solid fa-gear"></i></th>
                    </tr>
                    {% for s in stock_item %}
                    <tr class="item_details">
                        <td class="text-center text-break">{{ s.quantity }}</td>
                        <td class="text-center text-break">{{ s.uom }}</td>
                        <td class="text-center text-break">{{ s.item_name }}</td>
                        {% now "Y-m-d" as current_date %}
                        {% with expiry_date=s.expiry_date|date:"Y-m-d" %}
                        {% if expiry_date <= current_date %}
                        <td class="text-center text-break bg-warning">
                            {{s.expiry_date }}
                        </td>
                        {% else %}
                        <td class="text-center text-break">{{ s.expiry_date }}</td>
                        {% endif %}
                        {% endwith %}
                        {% with temp=storage_space.temp %}
                        {% if temp < s.min_temp %} 
                        <td class="text-center text-break bg-info">
                             {{s.min_temp }} to {{ s.max_temp }}
                        </td>
                        {% elif temp > s.max_temp %}
                        <td class="text-center text-break bg-danger">
                            {{s.min_temp }} to {{ s.max_temp }}
                        </td>
                        {% else %}
                        <td class="text-center text-break">{{s.min_temp }} to {{ s.max_temp }}</td>
                        {% endif %}
                        {% endwith %}
                        <td class="text-center text-break">{{ s.remarks }}</td>
                        <td class="text-center text-break">
                            <a href="{% url 'edit_item' s.slug %}" aria-label="Link to edit item"><i class="fa-solid fa-pen-to-square"></i></a> 
                            <a href="{% url 'delete_item' s.slug %}" aria-label="Link to delete item"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- Add Item -->
            <div class="mb-5 d-flex justify-content-center">
                <a href="{% url 'add_item' storage_space.slug %}" class="text-decoration-none">
                    <p class="cst-bg-green storage-spaces-btn create_box container border border-dark text-center">
                        Add a new Item <i class="fa-solid fa-plus"></i>
                    </p>
                </a>
            </div>
            <!-- Return -->
            <div class="mb-5 d-flex justify-content-center">
                <a href="{% url 'spaces' %}" class="text-decoration-none">
                    <p class="cst-bg-green px-3 py-2 container border border-dark text-center">
                        Return <i class="fa-solid fa-rotate-left"></i>
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>

{%endblock%}