{% extends "base.html" %}

{% block content %}
<!-- Received Box -->
<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 container-md main-box d-flex flex-column">
        <h2 class="text-center mt-5">Your message has been received!</h2>
        <div>
            <p class="text-center my-4">
                We will review it & send our response to the submitted email address as soon as possible!
            </p>
        </div>
        <!-- Home -->
        <div class="ms-3 mb-5 d-flex justify-content-left">
            <a href="{% url 'home' %}" class="text-decoration-none"><button class="cst-bg-green px-3 py-1">Home <i
                        class="fa-solid fa-house"></i></button></a>
        </div>
    </div>
</div>
{%endblock%}