{% extends "base.html" %}

{% block content %}
<!-- 403 Box -->
<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 container-md main-box d-flex flex-column err-msg">
        <h2 class="text-center mt-5">Ooops it's 403 Error!</h2>
        <div>
            <p class="text-center my-4 fs-3">
                Forbidden
            </p>
        </div>
        <img src="https://res.cloudinary.com/dwczzqdrv/image/upload/v1683186581/jar-broken-g7e7641513_640_1_1_1_1_1_deirg2.jpg"
            alt="error page image - broken jar of pasta" class="mx-auto p-3 mb-4" style="max-width:95%;">
        <!-- Return -->
        <div class="ms-3 mb-5 d-flex justify-content-center">
            <a href="{% url 'home' %}" class="text-decoration-none"><button class="cst-bg-green px-5 py-1">Home <i
                        class="fa-solid fa-house"></i></button></a>
        </div>
    </div>
</div>
{%endblock%}