{% extends "base.html" %}

{% block content %}
<!-- Add Stocklist Box -->
<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 container-md main-box d-flex flex-column">
        <h2 class="text-center mt-5">Create Your Stocklist:</h2>
        <form method="POST" action="addstocklist">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <p>
                    <button type="submit">Confirm</button>
                </p>
            </div>
        </form>
    </div>
</div>
{%endblock%}