{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MyPantryNote - to help users control grocery shopping">
    <meta name="keywords" content="MyPantryNote, grocery, pantry, home cooking, waste reduction">
    <meta name="author" content="Kamil Wojciechowski">

    <!-- favicon -->
    <link rel="icon" type="image/xicon" href="{% static 'favicon/favicon.ico' %}">
    <!-- Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <!-- stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>MyPantryNote</title>

</head>

<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand ms-3" href="{% url 'home' %}">
                <h1 class="my-auto"><i class="fa-solid fa-clipboard-list"></i> MyPantryNote</h1>
            </a>
            <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ms-auto">
                    <!-- Nav links -->
                    <li class="nav-item">
                        <a class="nav-link fs-3" href="{% url 'home' %}">Home</a>
                    </li>
                    {% load account %}

                    {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link border-start border-black fs-3" href="{% url 'list' %}">
                            User: {{ user.username }}
                        </a>
                    </li>
                    <li class="border-start border-black">
                        <a href="{% url 'account_change_password' %}" class="nav-link fs-3 m-2" aria-label="Link to change password">
                            <i class="fa-solid fa-gear float-end"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-start border-black fs-3" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link border-start border-black fs-3"
                            href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-start border-black fs-3" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Messages -->
    {% if messages %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <main class="flex-shrink-0">

        {% block content %}
        <!-- Content -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <div class="row mt-2">
            <div id="platforms" class="col-10">
                <ul class="d-flex flex-row bd-highlight mb-3">
                    <li class="p-2 bd-highlight">
                        <a href="https://www.facebook.com/" target="_blank" aria-label="Visit our Facebook page (opens in a new tab)">
                            <i class="fa-brands fa-facebook-f fs-2"></i>
                        </a>
                    </li>
                    <li class="p-2 bd-highlight">
                        <a href="https://www.pinterest.ie/" target="_blank" aria-label="Visit our Pinterest page (opens in a new tab)">
                            <i class="fa-brands fa-pinterest fs-2"></i>
                        </a>
                    </li>
                    <li class="p-2 bd-highlight">
                        <a href="https://www.youtube.com/" target="_blank" aria-label="Visit our Youtube page (opens in a new tab)">
                            <i class="fa-brands fa-youtube fs-2"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="contact-icon" class="col-2">
                <a href="{% url 'contact' %}" class="p-2 bd-highlight float-end mx-4" aria-label="Link to the contact page">
                    <i class="fa-regular fa-envelope fs-2"></i>
                </a>
            </div>
        </div>
    </footer>

    <!-- Font Awesome kit -->
    <script src="https://kit.fontawesome.com/b4fbceef50.js" crossorigin="anonymous"></script>

    <!-- Bootstrap scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
        integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
        crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <!-- Script -->
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>