{% extends "base.html" %}

{% block content %}
<!-- Contact Box -->
<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 container-md main-box d-flex flex-column">
        <h2 class="text-center mt-5">Contact us:</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <p>
                    <button type="submit" class="cst-bg-green">Submit your message <i
                            class="fa-solid fa-check"></i></button>
                </p>
            </div>
        </form>
        <!-- Return -->
        <div class="mb-5 d-flex justify-content-left">
            <a href="{% url 'home' %}" class="text-decoration-none"><button class="cst-bg-green px-3 py-1">Home <i
                        class="fa-solid fa-house"></i></button></a>
        </div>
    </div>
</div>
{%endblock%}