{% extends "base.html" %}

{% block content %}
<!-- Delete storagespace Box -->
<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 container-md main-box d-flex flex-column">
        <h2 class="text-center mt-5">Delete Storagespace:</h2>
        <!-- Inspired by https://stackoverflow.com/questions/31843145/deleteview-with-confirmation-template-and-post-method -->
        <form method="POST">
            {% csrf_token %}
            <p class="d-flex justify-content-center m-1 text-center">Are you you sure you want to delete this storagespace?</p>
            <div class="d-flex justify-content-center">
                <button type="submit" class="cst-bg-green py-1 my-2 ms-2">Confirm & Return to Storagespaces List <i class="fa-solid fa-check"></i></button>
            </div>
        </form>
        <div class="d-flex justify-content-center m-1 text-center">
            <a href="{% url 'spaces' %}" class="text-decoration-none"><button class="cst-bg-green px-3 py-1 m-2">Return to Storagespaces List <i class="fa-solid fa-rotate-left"></i></button></a>
        </div>
    </div>
</div>
{%endblock%}