{% extends "base.html" %}

{% block content %}

<!-- Items Box -->
<div class="row">
    <!-- Items List -->
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 container-md main-box">
        {% for s in stock_item %}
        <h2 class="text-center my-5">{{ s.storage.storage_name }}</h2>
        <div class="row">
            <div class="col-4 text-center">
                <p>Temperature: {{ s.storage.temp }} °C</p>
            </div>
            <div class="col-8 text-center">
                <p>Last updated: {{ s.item_updated_on }}</p>
            </div>
        </div>
        <div class="row">
           <div class="col-12 my-4">
                <table class="mx-auto">
                    <tr>
                        <th>Pieces</th>
                        <th>Unit</th>
                        <th>Product</th>
                        <th>Expiry Date</th>
                    </tr>
                    <tr>
                        <td>{{ s.quantity }}</td>
                        <td>{{ s.uom }}</td>
                        <td>{{ s.item_name }}</td>
                        <td>{{ s.expiry_date }}</td>
                    </tr>
                </table>
            </div>
        {% endfor %}
        {% if is_paginated %}
        <!-- Based on CI's "I Think Therefore I Blog" Walkthrough project -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
        <!-- Add Item -->
        <div class="mb-5 d-flex justify-content-center">
            <a href="#" class="text-decoration-none"><button class="cst-bg-green storage-spaces-btn">Add a new Item <i class="fa-solid fa-plus"></i></button></a>
        </div>
        <!-- Return -->
        <div class="mb-5 d-flex justify-content-center">
            <a href="{% url 'spaces' %}" class="text-decoration-none"><button class="cst-bg-green px-3 py-2">Return <i class="fa-solid fa-rotate-left"></i></button></a>
        </div>
    </div>
</div>

{%endblock%}