{% extends "base.html" %}

{% block content %}

<!-- Stocklist Box -->
<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 container-md main-box">
        <h2 class="text-center my-4" id="stocklist-name">Your Stock List <i class="fa-solid fa-pen-to-square"></i></h2>
        <h3 class="text-center my-4">Your Storage Spaces:</h2>
        <div class="mt-4">
            <button>Add a new storage space <i class="fa-solid fa-circle-plus"></i></button>
        </div>
        <div class="my-4">
            <ul id="storage-spaces">
                <li>
                    <button class="storage-btn">cupboard</button>
                </li>
            </ul>
        </div>
    </div>
</div>

{%endblock%}