{% extends "base.html" %}

{% block content %}

<!-- Storagespaces Box -->
<div class="row">
    <!-- Storagespace List -->
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 container-md main-box d-flex flex-column">
        <h2 class="text-center mt-5"> Your Storage Spaces:</h2>
        <div class="d-flex justify-content-center">
           <ul id="storagespaces-list" class="my-2 p-0">
                <li>
                    {% for storagespace in storagespace_list %}
                    <a href="#" class="text-decoration-none d-flex justify-content-center">
                        <button class="storage-spaces-btn cst-bg-yellow my-2 row">
                            <span class="col-8 p-0 ms-5" >{{ storagespace.storage_name }}</span>
                            <span class="col-1"><i class="fa-regular fa-folder-open"></i></span>
                        </button>
                    </a>
                    {% endfor %}
                </li>
            </ul>
        </div>
        {% if is_paginated %}
        <!-- Based on CI's "I Think Therefore I Blog" Walkthrough project -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
        <!-- Add Storage Space -->
        <div class="mb-5 d-flex justify-content-center">
            <a href="#" class="text-decoration-none"><button class="cst-bg-green storage-spaces-btn">Add a new Storage Space <i class="fa-solid fa-circle-plus"></i></button></a>
        </div>
        <!-- Return -->
        <div class="mb-5 d-flex justify-content-center">
            <a href="{% url 'list' %}" class="text-decoration-none"><button class="cst-bg-green px-3 py-2">Return <i class="fa-solid fa-rotate-left"></i></button></a>
        </div>
    </div>
</div>

{%endblock%}