{% extends "base.html" %}

{% block content %}

<!-- Storagespaces Box -->
<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 container-md main-box d-flex flex-column">
        <h2 class="text-center mt-5"> Your Storage Spaces:</h2>
        <div>
           <ul id="storagespaces-list" class="my-2 d-flex justify-content-center">
                {% for storagespace in storagespace_list %}
                <li>
                    <a href="#" class="text-decoration-none"><button class="storage-spaces-btn cst-bg-yellow my-4 d-flex justify-content-center"><span class="storage-name">{{ storagespace.str_name }}</span><span class="storage-name"><i class="fa-regular fa-folder-open"></i></span></button></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{%endblock%}